.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 353px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__like-btn {
    padding: 0;
  }
  .card__title {
    max-width: 235px;
  }
}
