.modal {
  font-weight: 500;
  font-style: normal;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Poppins, Arial, sans-serif;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease,
    visibility 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__close-btn {
  background-image: url(../images/x-icon.svg);
  background-position: center;
  background-size: contain;
  border-style: none;
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
}

.modal__close-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  padding: 0;
  font-size: 32px;
  line-height: 1;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 0;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border-color: #21212166;
  font-size: 20px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  padding: 16px 12px;
  box-sizing: border-box;
}

.modal__label {
  margin: 0 0 32px;
  padding: 0;
  font-size: 16px;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  margin: 12px 0 0;
  padding: 0;
  font-size: 16px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.modal__close-btn_type_preview {
  background-image: url(../images/preview-close.svg);
  background-position: center;
  background-size: contain;
  border-style: none;
  align-self: flex-end;
  background-color: transparent;
  width: 40px;
  height: 40px;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -52.5px;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
  .modal__label {
    font-size: 16px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }

  .modal_type_preview {
    max-width: unset;
  }
}
