.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;

  margin: 0 auto;
}

.profile__avatar {
  border-radius: 8px;
  margin: 0 20px 0 0;
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__description {
  margin: 12px 0 0;
  max-width: 420px;
  font-size: 16px;
  font-weight: 500;
  color: #212121b2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  padding: 0;
  margin-top: auto;
  gap: 8px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  border: none;
  color: #212121;
  opacity: 0.7;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 157px;
  height: 52px;
  border-radius: 8px;
  font: 500 16px/1;
  background: #212121;
  margin: 0;
  background-color: #212121;
  color: #fcf5e5;
  gap: 8px;
  margin-left: auto;
  align-self: flex-end;
}

.profile__pencil-icon {
  height: 16px;
  width: 16px;
  margin: 0;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}
.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px 0 0;
  }
  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-bottom: 12px;
  }
  .profile__edit-btn {
    justify-content: center;
    margin-top: 32px;
    gap: 8px;
  }
  .profile__add-btn {
    margin: 20px 0;
    position: static;
    width: 100%;
  }
  .profile__title {
    font-size: 20px;
    max-width: 288px;
  }
  .profile__description {
    margin-top: 6px;
    font-size: 16px;
  }
}
